<footer class="footer" style="background-color: #0c584d;">
    <div class="content has-text-centered has-text-white">
      <p>
        Copyright © <a style="color: #61b19b;" href="/"><%= bot.user.username %></a> - All Rights Reserved.
        <br><small>This dashboard is not affiliated with Discord, Inc.</small>
      </p>
    </div>
  </footer>
 </body>
</html>