<%- include("partials/header") %>

<title><%= bot.user.username.toLowerCase() %>.fun - terms of service</title>

<div class="pt-20">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 text-left text-white">
        <h1 class="font-bold text-2xl">Terms of Service</h1>
        <a href="/tos">
            <img src="/static/eres-crop.png" alt="eres.fun logo" class="mt-2 navicon-fade" width="24" height="auto"/>
        </a>
        <h2 class="font-bold mt-2">Acceptance of Terms</h2>
        <p>By accessing and using our Discord application (the “App”), you accept and agree to be bound by the terms and provision of this agreement.</p>
        <h3 class="font-bold mt-2">Use License</h3>
        <p>Permission is granted to temporarily download one copy of the materials on the App for personal, non-commercial transitory viewing only.</p>
        <h4 class="font-bold mt-2">Limitations</h4>
        <p>In no event shall we be liable for any damages arising out of the use or inability to use the materials on the App.</p>
        <h5 class="font-bold mt-2">Revisions and Errata</h5>
        <p>The materials appearing on the App could include technical, typographical, or photographic errors. We do not warrant that any of the materials on the App are accurate, complete, or current.</p>
        <h6 class="font-bold mt-2">Open Source Contribution</h6>
        <p>The App is an open-source project hosted on GitHub. We welcome and appreciate any contributions you make to the project. Feel free to fork the repository, make changes, and submit pull requests.</p>
        <h7 class="font-bold mt-2">Links</h7>
        <p>We have not reviewed all of the sites linked to the App and are not responsible for the contents of any such linked site.</p>
        <h7 class="font-bold mt-2">Site Terms of Use Modifications</h7>
        <p>We may revise these terms of use for the App at any time without notice.</p>
        </div>
    </div>

<%- include("partials/footer") %>