@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #030712;
}

::-webkit-scrollbar-thumb {
  background: #111520;
}

::-webkit-scrollbar-thumb:hover {
  background: #111520;
}

.button-simple { 
  background: rgba(170, 170, 170, 0.062);
  transition: 0.2s;
  padding: 10px 10px;
  border-radius: 10px;
}

.navbar-item:hover { 
  background: rgba(170, 170, 170, 0.062);
  transition: 0.2s;
  padding: 10px 10px;
  border-radius: 10px;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgba(170, 170, 170, 0.062);
}

.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

.login-button:hover {
  width: 125px;
  border-radius: 5px;
  transition-duration: .3s;
}

.login-button:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

.login-button:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.login-button:active {
  transform: translate(2px ,2px);
}

.button-dashboard {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: none;
  background: #0ba360;
  background: linear-gradient(
    to right,
    #0ba360,#3cba92
  );
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 13px;
  box-shadow: 0px 14px 56px -11px #0ba360;
  width: 11em;
  padding: 0.7em;
  transition: all 0.4s;
  cursor: pointer;
}

.button-dashboard:hover {
  box-shadow: 0px 14px 56px -11px #0ba360;
  transform: translateY(-3px);
}

.button-close {
  position: relative;
  width: 2em;
  height: 2em;
  border: none;
  background: rgba(170, 170, 170, 0.062);
  border-radius: 5px;
  transition: background 0.5s;
}

.X {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1.5px;
  background-color: rgb(255, 255, 255);
  transform: translateX(-50%) rotate(45deg);
}

.Y {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1.5px;
  background-color: #fff;
  transform: translateX(-50%) rotate(-45deg);
}

.button-close:hover {
  background-color: #cf545488
}

.button-close:active {
  background-color: #c4323288
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.loader {
  border: 4px solid rgba(231, 231, 231, 0.781);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid rgba(231, 231, 231, 0.781);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.loader {
  border: 4px solid rgba(231, 231, 231, 0.781);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

.current-page {
  background-color: #25d46e9c;
  border: 1px solid #aaaaaa10;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive > .table {
  margin-bottom: 0;
}

.table {
  border-spacing: 0 15px;
}

i {
  font-size: 1rem !important;
}

.table tr {
  border-radius: 20px;
}

tr td:nth-child(n+5), tr th:nth-child(n+5) {
  border-radius: 0 .625rem .625rem 0;
}

tr td:nth-child(1), tr th:nth-child(1) {
  border-radius: .625rem 0 0 .625rem;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}