@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #030712;
}

::-webkit-scrollbar-thumb {
  background: #111520;
}

::-webkit-scrollbar-thumb:hover {
  background: #111520;
}


.navbar-item:hover { 
  background: rgba(170, 170, 170, 0.062);
  transition: 0.2s;
  padding: 10px 10px;
  border-radius: 10px;
}